.list-group-item{
    border: 1px solid gray;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
  }
  
  .list-group-item:hover{
    background: lightgrey;
  }